<base-card>
  <base-card-title>
    <h2 class="mdl-card__title-text">Trending</h2>
  </base-card-title>
  <base-card-body>
    <ul class="mdl-list">
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content list__item-text">Could be better</span>
      <span class="mdl-list__item-secondary-content">
        <i class="material-icons trending__arrow-up" role="presentation">arrow_drop_up</i>
             </span>
      <span class="mdl-list__item-secondary-content trending__percent">10 %</span>
    </li>
  </ul>
  </base-card-body>
</base-card>
